In [1]:
import csv
import pandas as pd

In [7]:

age = [23,36,63,88]
mediause = [4,3,3,5]
interest = [-3,2,3,1]

In [8]:
with open('test.csv', mode='w') as fo:
    writer=csv.writer(fo)
    output=zip(age,mediause,interest)
    writer.writerows(output)

In [9]:
%cat test.csv

In [26]:
with open('test.csv', mode='r', encoding='utf-8') as fi:
    data = fi.read()
data

'23,4,-3\n36,3,2\n63,3,3\n88,5,1\n'

In [23]:
data = open('test.csv').readlines()
data = [s.strip().split(',') for s in data]
print(data)

[['23', '4', '-3'], ['36', '3', '2'], ['63', '3', '3'], ['88', '5', '1']]

In [25]:
a=[]
m=[]
i=[]

with open('test.csv', mode='r') as fi:
    reader=csv.reader(fi)
    for row in reader:
        print(f"Processing row {row}...")
        a.append(row[0])
        m.append(row[1])
        i.append(row[2])
print(a,m,i)

Processing row ['23', '4', '-3']...
Processing row ['36', '3', '2']...
Processing row ['63', '3', '3']...
Processing row ['88', '5', '1']...
['23', '36', '63', '88'] ['4', '3', '3', '5'] ['-3', '2', '3', '1']

In [30]:
sumage = 0
numberofcases = 0
with open('test.csv', mode='r') as fi:
    reader=csv.reader(fi)
    for row in reader:
        numberofcases+=1
        sumage+=int(row[0])
print(sumage/numberofcases)

52.5

In [19]:
df = pd.read_csv('test.csv', names=['age','media','interest'])
df

   age  media  interest
0   23      4        -3
1   36      3         2
2   63      3         3
3   88      5         1

In [18]:
pd.rea

In [33]:
a = [1,2,3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]